.contact-section
{
    display: flex;
    flex-direction: column;
    background-color: #dfdfdf;

}


.contact-section div:first-of-type
{
    margin-top: 70px;
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
}

.contact-section div:last-of-type
{

}


.contact-section-inner
{

    display: flex;
    height: 800px;
    background-color: #dfdfdf;
    position: relative;
    box-sizing: border-box;
    justify-content: center;
    //align-items: center;
}

#left-media
{
    margin-top: 20px;
    width: 50%;
    background-color: #212121;

}

#right-media
{
    margin-top: 20px;
    width: 50%;
}

.contact-section-inner div div img
{

    height: 150px;
    width: 170px;
    border-radius: 30px;
    transition: all 0.5s ease;

}

.contact-section-inner div div img:hover
{

    border-radius: 55px;
    transform: translateY(-10px);
    transition: all 0.5s ease;


}

.contact-section-inner div div
{
    display: inline-block;
    padding: 100px 100px;
}

.contact-section-inner div
{
    text-align: center;
    box-sizing: border-box;
    padding-top: 200px;

}

.contact-section-inner > div:first-of-type
{
    padding-left: 150px;
}

.contact-section-inner > div:last-of-type
{
    padding-right: 200px;
}
.contact-section-inner span
{
    margin: 0;
    padding: 0;
}

